<form class="contact-form center-element" accept-charset="UTF-8" action="https://formkeep.com/f/09d39a2d9aee" method="POST">
  <input name="hidden" type="hidden" name="utf8" value="✓">
  <input class="contact-form__input" name="name" type="text" placeholder="Name *">
  <input class="contact-form__input" name="email" type="email" placeholder="Email *">
  <textarea class="contact-form__textarea" name="comment" placeholder="Comment *" spellcheck="true"></textarea>
  <button class="contact-form__button center-element">Submit</button>
</form>
