<form class="contact-form" accept-charset="UTF-8" action="https://formkeep.com/f/09d39a2d9aee" method="POST">
  <input class="contact-form__input center-element rounded-corners" type="hidden" name="utf8" value="✓">
  <input class="contact-form__input center-element rounded-corners" type="text" name="name" aria-label="name" placeholder="Name *">
  <input class="contact-form__input center-element rounded-corners" type="email" name="email" aria-label="email" placeholder="Email *">
  <input class="contact-form__input center-element rounded-corners" type="phone" name="phone" aria-label="phone" placeholder="Phone Number">

  <input class="contact-form__input center-element rounded-corners" type="text" name="comment" aria-label="comment" placeholder="Comment">

  <button class="contact-form__button center-element rounded-corners" type="submit">Submit</button>
</form>
