<form class="contact-form" accept-charset="UTF-8" action="https://formkeep.com/f/09d39a2d9aee" method="POST">
  <input class="contact-form__input center-element rounded-corners" type="hidden" name="utf8" value="✓">
  <input class="contact-form__input" type="text" placeholder="Name *">
  <input class="contact-form__input" type="email" placeholder="Email *">
  <textarea class="contact-form__textarea" placeholder="Comment *" spellcheck="true"></textarea>
  <button class="contact-form__button center-element">Submit</button>
</form>
