<footer class="border--top">
  <nav class="site-nav container2">
    <a href="https://github.com/brandonlafave" target="_blank"><span class="icon-github"></span></a>
    <a href="https://www.linkedin.com/in/brandonlafave" target="_blank"><span class="icon-linkedin"></span></a>
    <a href="https://twitter.com/BrandonLaFave" target="_blank"><span class="icon-twitter"></span></a>
    <!-- <a href="/blog/" class="rounded-corners" target="_blank">Dribbble</a> -->
  </nav>
  <!-- <p class="center">&copy; {{ site.time | date: '%Y' }}</p> -->
</footer>
