<header>
  <!-- <section class="container">
    <h1 class="padding-top">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
  </section> -->
  <nav class="site-nav container border--bottom">
    <a href="/"><span class="icon-home"></span>Home</a>
    <a href="/about/"><span class="icon-profile"></span>About</a>
    <a href="/portfolio/"><span class="icon-lab"></span>Portfolio</a>
    <a href="/blog/"><span class="icon-pencil2"></span>Blog</a>
    <a href="/contact/"><span class="icon-bubbles"></span>Contact</a>
    <!-- {% for page in site.pages %}
      {% if page.title %}
      <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %} -->
  </nav>
</header>
