<header class="flex-container flex-space-between">
  <h1><a href="/">Brandon LaFave</a></h1>
  <nav class="flex-space-between">
    <a href="#about"><span class="icon-profile">About</a>
    <a href="#resume">Resume</a>
    <a href="#portfolio"><span class="icon-lab">Portfolio</a>
    <a href="#blog"><span class="icon-pencil2">Blog</a>
    <a href="#contact"><span class="icon-bubbles"></span>Contact</a>
  </nav>
</header>

Nintendo
https://seattle.craigslist.org/est/wri/5246521822.html

Editorial Coordinator
https://uwhires.admin.washington.edu/eng/candidates/default.cfm?szCategory=JobProfile&szOrderID=125157&szlocationID=88

Research Librarian
http://www.indeed.com/viewjob?cmp=Teampersona&t=Research+Librarian+Editor&jk=bb14910bc11d6faa&q=Editor+%2440%2C000


Associate Editor at Leafly
https://www.leafly.com/company/jobs
