/*==========================
          CSS RESET
==========================*/

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/*----- Fonts -----*/
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?47x0lw');
    src:url('../fonts/icomoon.eot?#iefix47x0lw') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?47x0lw') format('truetype'),
        url('../fonts/icomoon.woff?47x0lw') format('woff'),
        url('../fonts/icomoon.svg?47x0lw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e600";
}
.icon-pencil2:before {
    content: "\e601";
}
.icon-profile:before {
    content: "\e602";
}
.icon-bubbles:before {
    content: "\e603";
}
.icon-lab:before {
    content: "\e604";
}
.icon-circle-up:before {
    content: "\e605";
}
.icon-circle-right:before {
    content: "\e606";
}
.icon-circle-down:before {
    content: "\e607";
}
.icon-circle-left:before {
    content: "\e608";
}
.icon-twitter:before {
    content: "\e609";
}
.icon-github:before {
    content: "\e60a";
}
.icon-linkedin:before {
    content: "\e60b";
}

/*==========================
        BASE STYLES
==========================*/

/*----- Base Styles -----*/

h2 {
  border-bottom: 1px solid #ddd;
  line-height: 0;
  padding: 0;
  margin-top: 3em;
  margin-bottom: 2em;
  color: gray;
}

h2 span {
  background: #fff;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 80%;
}

p, form {
  max-width: 500px;
  margin-right: auto; //Combine with center-element
  margin-left: auto; //Combine with center-element
  text-align: justify; //Create text-justify utility?
}

h3 {
  max-width: 500px;
  color: gray;
  margin-left: auto; //Combine with center-element
  margin-right: auto; //Combine with center-element
}

img {
  max-width: 500px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

body, h2 span {
  background-color: #fafafa;
}

main {
  margin-top: 8em;
  margin-bottom: 5em;
  position: relative;
}


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, button, section {
  display: block;
}

header, footer {
  background-color: #fff;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  // background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  z-index: 1;
}

footer {
  border-top: 1px solid #e2e2e2;
  // background-color: #fff;
}

ul {
  padding: 0;
  margin-right: 2em;
}

ul a,  {
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
  font-size: 80%;
}

a:visted, a:hover {
  text-decoration: none;
  color: gray;
}

button:hover {
  background: #fe8c00;
}

input, textarea {
  display: block;
  margin-bottom: .5em;
}

h3 {
  padding-left: 1.6em;
  padding-right: 1.6em;
}

p {
  padding-left: 2em;
  padding-right: 2em;
  line-height: 1.5;
}

@media (min-width: 500px) {

  h3 {
    padding-left: 0em;
    padding-right: 0em;
  }

  p {
    padding-left: 0em; //Delete during refactor
    padding-right: 0em; //Delete during refactor
  }
}
