/*==========================
        LAYOUT STYLES
==========================*/

/*----- Layout Styles -----*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container2 a {
  padding: 0em .5em;
  font-size: 125%;
}

.border--top {
  border-top: 1px solid gray;
  padding-top: 1em;
  padding-bottom: 1em
}

.layout-main {
flex: 1;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;
}

.layout-main {
flex: 1;
}

.border--bottom {
  border-bottom: 1px solid gray;
  padding-top: 1em;
  padding-bottom: 1em;
}

header a:link, a:hover, a:visited {
  text-decoration: none;
  color: white;
}

body {
  // background-color: #42CCC8;
  // background: -webkit-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* Chrome 10+, Saf5.1+ */
  // background:    -moz-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* FF3.6+ */
  // background:     -ms-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* IE10 */
  // background:      -o-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* Opera 11.10+ */
  // background:         linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* W3C */

background: -webkit-linear-gradient(180deg, #00c6ff 10%, #0072ff 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(180deg, #00c6ff 10%, #0072ff 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(180deg, #00c6ff 10%, #0072ff 90%); /* IE10 */
  background:      -o-linear-gradient(180deg, #00c6ff 10%, #0072ff 90%); /* Opera 11.10+ */
  background:         linear-gradient(180deg, #00c6ff 10%, #0072ff 90%); /* W3C */

//orange
// background: -webkit-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* Chrome 10+, Saf5.1+ */
  // background:    -moz-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* FF3.6+ */
  // background:     -ms-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* IE10 */
  // background:      -o-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* Opera 11.10+ */
  // background:         linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* W3C */
  background: -webkit-linear-gradient(180deg, #fe8c00 10%, #f83600 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(180deg, #fe8c00 10%, #f83600 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(180deg, #fe8c00 10%, #f83600 90%); /* IE10 */
  background:      -o-linear-gradient(180deg, #fe8c00 10%, #f83600 90%); /* Opera 11.10+ */
  background:         linear-gradient(180deg, #fe8c00 10%, #f83600 90%); /* W3C */

}

p {
  padding: 0 3em;
}

span {
  display: block;
  text-align: center;
}

.padding-top {
  padding-top: .75em;
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  // background-color: #f9f7f4;
}

article {
  // background-color: rgba(255, 255, 255, .75);
}
// @media screen {min-width: 960px} {
//   .container {
//     display: flex;
//     justify-content: space-around;
//   }
// }
