.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.border--top {
  border-top: 1px solid gray;
  padding-top: 1em;
  // padding-bottom: 2em;
  padding-bottom: 1em
}

/* Test */
main {
// display: flex;
min-height: 70vh;
// flex-direction: column;
}

.layout-main {
flex: 1;
}

.border--bottom {
  border-bottom: 1px solid gray;
  padding-top: 1em;
  padding-bottom: 1em;
}

header a:link, a:hover, a:visited {
  text-decoration: none;
  color: black;
}

.center {
  text-align: center;
}

.fixed {
  position: fixed;
}

.rounded-corners {
  border-radius: .25em;
  border: .1em solid black;
  padding: 0 .25em;
}

// input {
//   display: block;
//   margin-bottom: .5em;
// }

p {
  padding: 0 3em;
}

span {
  display: block;
  text-align: center;
}

.padding-top {
  padding-top: .75em;
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  background-color: #f9f7f4;
}
// @media screen {min-width: 960px} {
//   .container {
//     display: flex;
//     justify-content: space-around;
//   }
// }
