/*==========================
        LAYOUT STYLES
==========================*/

/*----- Grid System -----*/
$mobile: new-breakpoint(max-width 500px 4);
.grid-container {
  @include outer-container;
}

.one-column {
  @include span-columns(12);
  @include omega();
}

.two-columns {
  @include span-columns(6 of 12);
  @include media($mobile) {
  @include span-columns(4);
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-space-between {
  justify-content: space-between;
}

#contact {
   // @include span-columns(4 of 12);
   // background: white;
}

/*----- Layout Styles -----*/
// .container {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
// }

// .container2 {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }

// .container2 a {
//   padding: 0em .5em;
//   font-size: 125%;
// }

// .layout-main {
// flex: 1;
// }
