/*==========================
        MODULE STYLES
==========================*/

/*----- Hero Modules -----*/
.hero {
  height: 100vh;
}

/*----- Form Modules -----*/
.contact-form {
  width: 100%;
}

.contact-form__input {
  width: 100%;
  padding: 1em;
  margin-bottom: .5em;
}

.contact-form__button {
  padding: 1em;
  width: 50%;
  margin-bottom: .5em;
}

/*----- Utility Modules -----*/

.center-element {
  margin-left: auto;
  margin-right: auto;
}

.rounded-corners {
  border-radius: .25em;
  border: .1em solid gray;
  // padding: 0 .25em;
}

.center {
  text-align: center;
}

.fixed {
  position: fixed;
}

.social-media__button {

}

/*----- Flexbox Styles -----*/

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
